@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Popsweb</h1>
    <p class="lead">Cutting edge pop collection website</p>
    <p><a href="https://github.com/legobrainiac" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with Popsweb</h2>
        <p>
            Buy pops and add them to your collection, you can also not buy them and say you have them... you will, however, be the scum of the earth. 
        </p>
    </div>
</div>