@model IEnumerable<PopsWeb.Models.UsersPopsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model)
{ 
    <tr>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id_pop })
        </td>
        <th>
            <img src="@Url.Content(String.Format("~/Content/Pops/{0}.jpg", item.id_pop))" width="100" />
        </th>
    </tr>
}

</table>
